.questiontext {
  color: #000000;
  background-color: #A4BDA3;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  width: ;
  height: ;

  margin: 10px;

}

.h1 {
  font-size: 13px;
  font-family: 'Nunito';
}

.answers-buttons {
  display: flex;
  flex-direction: row;


}

.answertext {
  color: #000000;
  width: ;
  height: ;
  font-size: 12px;
  font-family: 'Nunito';
  border-radius: 50px;
  padding: 5px;
}
