.questiontext {
  color: #000000;
  background-color: #A4BDA3;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  min-width: 20px;
  min-height: 50px;

  margin: 10px;

}

.questiontext-headline {
  display: flex;
  justify-content: center;

}

.h1 {
  font-size: 9px;
  font-family: 'Nunito';
  display: flex;
  justify-content: center;
}

.ordering_boxes {
  display: flex;
  flex-direction: column;
  justify-items: center;
  flex-wrap: wrap;

}

.answers-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;



}

.answertext {
  color: #000000;
  display: flex;
  width: auto;
  height: 40px;
  font-size: 12px;
  font-family: 'Nunito';
  border-radius: 50px;
  padding: 5px;
  margin: 10px;
}
